.about-title {
    font-family: Baskerville;
    font-size: 350%;
}

.information {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    font-family: Baskerville;
    font-size: 150%;
}

