.search-button {
    background-color: #e4ddd5 !important;
    color: black !important;
    font-family: Baskerville !important;
    padding: 10px 50px 10px 50px !important;
    border-radius: 20px;
    border-color: white !important;
  }
  
  .search-button:hover {
    background-color:grey;
    color: white;
    box-shadow: 0 0 10px #9ecaed
  }

  .cart-button {
    color: black;
    background-color: #564A44 !important;
    font-family: Baskerville !important;
  }